In [19]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import numpy as np 
import pandas as pd 
from mlxtend.frequent_patterns import apriori, association_rules 
import matplotlib.pyplot as plt
from apyori import apriori

In [5]:
# create dataset
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [6]:
# Transform the values to right format
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [9]:
from mlxtend.frequent_patterns import fpgrowth

frequent_itemsets =fpgrowth(df, min_support=0.6)

In [8]:
fpgrowth(df, min_support=0.6, use_colnames=True)

    support                     itemsets
0       1.0               (Kidney Beans)
1       0.8                       (Eggs)
2       0.6                     (Yogurt)
3       0.6                      (Onion)
4       0.6                       (Milk)
5       0.8         (Eggs, Kidney Beans)
6       0.6       (Kidney Beans, Yogurt)
7       0.6                (Eggs, Onion)
8       0.6        (Kidney Beans, Onion)
9       0.6  (Eggs, Kidney Beans, Onion)
10      0.6         (Kidney Beans, Milk)

In [11]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(3),(5),0.8,1.0,0.8,1.0,1.00,0.00,inf
1,(5),(3),1.0,0.8,0.8,0.8,1.00,0.00,1.0
2,(10),(5),0.6,1.0,0.6,1.0,1.00,0.00,inf
3,(5),(10),1.0,0.6,0.6,0.6,1.00,0.00,1.0
4,(8),(3),0.6,0.8,0.6,1.0,1.25,0.12,inf

In [22]:
rules[ (rules['lift'] > 1) & (rules['confidence'] >= 0.5) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4,(8),(3),0.6,0.8,0.6,1.00,1.25,0.12,inf
5,(3),(8),0.8,0.6,0.6,0.75,1.25,0.12,1.6
9,"(8, 5)",(3),0.6,0.8,0.6,1.00,1.25,0.12,inf
10,"(3, 5)",(8),0.8,0.6,0.6,0.75,1.25,0.12,1.6
11,(8),"(3, 5)",0.6,0.8,0.6,1.00,1.25,0.12,inf
12,(3),"(8, 5)",0.8,0.6,0.6,0.75,1.25,0.12,1.6